<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--左侧导航aside-->
<aside class="lyear-layout-sidebar" th:fragment="aside">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="/account/info"><img src="/images/logo-sidebar.png" title="dof" alt="dof"/></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item"><a href="/account/info"><i class="mdi mdi-home"></i> 后台首页</a></li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-wrench"></i> GM工具</a>
                    <ul class="nav nav-subnav">
                        <li><a href="/toItem">物品列表</a></li>
                        <li><a href="/activity/all">活动管理</a></li>
                        <li><a href="/roles/info">角色管理</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/account/info"><i class="mdi mdi-home"></i> 后台首页</a></li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2020. <a target="_blank"
                                                           href="http://www.kamigou.top/list/SizxF67Pu">我要变强</a> All
                rights
                reserved.</p>
        </div>
    </div>
</aside>
<!--End 左侧导航aside-->

<!--头部信息aside-->
<header class="lyear-layout-header" th:fragment="header">

    <nav class="navbar navbar-default">
        <div class="topbar">

            <div class="topbar-left">
                <div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                </div>
                <span class="navbar-page-title"> 欢迎勇士 </span>
                <span th:text="${status == 0 ? '全服玩家总数:' + accountNum :''}" style="color: #1cb08f;margin:7px"></span>
                <span th:text="${status == 0 ? '在线玩家数量:' + loginAccountNum :''}"
                      style="color: #e60000;margin:7px"></span>
                <span class="selectedrole" id="selectedrole" style="color: #1c5a7c;margin:20px"></span>
            </div>

            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img class="img-avatar img-avatar-48 m-r-10" src="/images/users/avatar.jpg"
                             th:alt="${status == 0 ? account.getAccountname() :''}"/>
                        <span th:text="${status == 0 ? account.getAccountname() :''}"><span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a></li>
                        <li><a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</header>
<!--End 头部信息aside-->
</html>