<html>
<head>
    <meta charset="UTF-8">


</head>

<body class="login">


</body>

</html>

<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/head}"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--左侧导航-->
        <div th:replace="~{common/aside::aside}"></div>
        <!--End 左侧导航-->

        <!--头部信息aside-->
        <div th:replace="~{common/aside::header}"></div>
        <!--End 头部信息aside-->

        <!-- 页面主要内容-->
        <main class="lyear-layout-content">

            <div class="content">
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <div class="card" style="width: 80%;float: left">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 15%">物品名</th>
                                        <th style="width: 10%">花费D点</th>
                                        <th style="width: 25%">订单号</th>
                                        <th style="width: 25%">cdkey</th>
                                    </tr>
                                    </thead>
                                    <tbody class="cdkeystr" id="cdkeystr">
                                    <tr th:each="cdkey:${myCdKey}" class="trpa">
                                        <td id="title" class="title" th:text="${cdkey.getTitle()}"></td>
                                        <td id="item_price" th:text="${cdkey.getItem_price()}"></td>
                                        <td><span class="label label-purple"
                                                  th:text="${cdkey.getOrderId()}"></span>
                                        </td>
                                        <td id="cdkey" th:text="${cdkey.getCdkey()}"></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script src="/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/js/lightyear.js"></script>

<!--图表插件-->
</body>
</html>