<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head}"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--左侧导航-->
        <!--左侧导航aside-->
        <div th:replace="~{common/aside}"></div>
        <!--End 左侧导航aside-->

        <!--头部信息aside-->
        <!--End 头部信息aside-->
        <!--End 左侧导航-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div style="position: absolute;margin-top:8%;margin-left: 35%;font-size:xx-large">404 功能还没做出来</div>
            <div style="position: absolute;margin-top:15%;margin-left: 35%">
                <img src="//game.gtimg.cn/images/dnf/cp/a20200618surprise/elem1.png">
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>

<!--图表插件-->
</body>
</html>