<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head}"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--左侧导航-->
        <!--左侧导航aside-->
        <div th:replace="~{common/aside}"></div>
        <!--End 左侧导航aside-->

        <!--头部信息aside-->
        <!--End 头部信息aside-->
        <!--End 左侧导航-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div style="position: absolute;margin-top:15%;margin-left: 35%;font-size:xx-large">出错啦</div>
            <div style="position: absolute;margin-top:15%;margin-left: 35%">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1594563845690&di=a1f07a809a43748cb70eceb2fd07019f&imgtype=0&src=http%3A%2F%2Fimage.namedq.com%2Fuploads%2F20180910%2F16%2F1536567400-QcMvwbpKFW.png">
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>

<!--图表插件-->
</body>
</html>