<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/head}"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--左侧导航-->
        <div th:replace="~{common/aside::aside}"></div>
        <!--End 左侧导航-->

        <!--头部信息aside-->
        <div th:replace="~{common/aside::header}"></div>
        <!--End 头部信息aside-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="row" style="margin: 20px">
                <div  style="width: 25%;float: left">
                <table class="table">
                    <thead>
                    <!--输入账号查询-->
                    <form action="/account/info" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="accountname" placeholder="请输入查询的账号.."
                                   style="display:inline-block;width: 80%"
                                   th:value="${status == 0 ? account.getAccountname() :''}">
                            <button class="btn btn-primary" type="submit">查询</button>
                        </div>
                    </form>
                    </thead>
                    <tbody>
                    <tr class="info">
                        <th scope="row">用户名id</th>
                        <td th:text="${status == 0 ? account.getUID() :'查无此人'}"></td>
                    </tr>
                    <tr class="info">
                        <th scope="row">QQ</th>
                        <td th:text="${status == 0 ? account.getQq() :'再查一下看看'}"></td>
                    </tr>
                    <tr class="success">
                        <th scope="row" style="width: 40%">D点余额</th>
                        <td>
                            <button th:if="${status == 0}" style="background-color: #a88820" type="button"
                                    class="btn btn-dark btn-w-md" data-toggle="modal"
                                    data-target="#exampleModal" data-whatever="@mdo"
                                    th:text="${status == 0 ? account.getCera_point() :''}">
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel" style="color: #1c1e2f">
                                                充值D点</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/account/dd}" method="post">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label"
                                                           style="color: #49518b">充值账号：</label>
                                                    <input type="text" name="ddname" class="form-control"
                                                           id="recipient-name2"
                                                           th:value="${status == 0 ? account.getAccountname():''}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="control-label"
                                                           style="color: #da4453">充值数量：</label>
                                                    <textarea name="ddnum" class="form-control"
                                                              id="message-text2"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        关闭
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" id="ddbutton">充值
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="success">
                        <th scope="row">D币余额</th>
                        <td>
                            <button th:if="${status == 0}" style="background-color: #423ca8" type="button"
                                    class="btn btn-dark btn-w-md" data-toggle="modal"
                                    data-target="#exampleModal2" data-whatever="@mdo"
                                    th:text="${status == 0 ? account.getCera() :''}">
                            </button>
                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel2">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="exampleModalLabel2"
                                                style="color: #1c1e2f">充值D币</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/account/db}" method="post">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label"
                                                           style="color: #34728b">充值账号：</label>
                                                    <input name="dbname" type="text" class="form-control"
                                                           id="recipient-name"
                                                           th:value="${status == 0 ? account.getAccountname():''}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="control-label"
                                                           style="color: #da4453">充值数量：</label>
                                                    <textarea name="dbnum" class="form-control"
                                                              id="message-text"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">充值</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <div style="position: relative;margin-left: 11%">
                        <img src="//game.gtimg.cn/images/dnf/cp/a20200618surprise/elem2.png">
                    </div>
                </table>
                </div>
                <!--角色列表遍历-->
                <div class="row" style="float: right;width: 75%">
                    <div class="col-lg-12">
                        <div class="card" style="width: 60%;float: left">
                            <div class="card-header">
                                <h4>账号角色信息</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr >
                                            <th style="width: 10%">角色id</th>
                                            <th style="width: 10%">角色名</th>
                                            <th style="width: 7%">职业</th>
                                            <th style="width: 20%">等级(70满级)</th>
                                            <th style="width: 20%">角色创建时间</th>
                                            <th style="width: 7%">选择</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="role:${roles}" class="trpa">
                                            <td id="Charac_no" class="Charac_no" th:text="${role.getCharac_no()}"></td>
                                            <td id="Charac_name" th:text="${role.getCharac_name()}"></td>
                                            <td><span class="label label-purple" th:text="${role.getGameCareer()}"></span>
                                            </td>
                                            <td>
                                                <div class="progress progress-striped progress-lg progress-bar-striped active">
                                                    <div class="progress-bar progress-bar-yellow" style="'width:'+ ${role.lev}+'%'"
                                                         th:text="${role.lev}"></div>
                                                </div>
                                            </td>
                                            <td th:text="${role.getCreate_time()}"></td>
                                            <td class="patd"><button type="button" class="btn btn-default" onClick="roleRefresh(this)">选中</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="cardEmail" style="width: 40%;float: left">
                            <div class="card-header">
                                <h4>邮件管理</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 7%">角色id</th>
                                            <th style="width: 7%">角色名</th>
                                            <th style="width: 7%">职业</th>
                                            <th style="width: 20%">等级(70满级)</th>
                                            <th style="width: 20%">角色创建时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script type="text/javascript">
    function roleRefresh(element) {
        var selectedroleno = element.parentNode.parentNode.children[0].innerText;
        var selectedrolename = element.parentNode.parentNode.children[1].innerText;
        var selectedrole = document.getElementById('selectedrole');
        // 装载局部刷新返回的页面
        selectedrole.innerText = '选中角色:' + selectedrolename;
    }
</script>
<!--图表插件-->
</body>
</html>