<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head}"></head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">

    <!--左侧导航-->
    <div th:replace="~{common/aside}"></div>
    <!--End 左侧导航-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <div class="card bg-danger">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">全服玩家总数</p>
                  <p class="h3 text-white m-b-0" th:text="${accountNum}"></p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-lg-2">
            <div class="card bg-success">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">在线玩家数量</p>
                  <p class="h3 text-white m-b-0" th:text="${loginAccountNum}"></p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card">
              <div class="card-body">
                <form action="/account/info" method="post">
                  <div class="form-group">
                    <input class="form-control" type="text" name="accountname" placeholder="请输入查询的账号.." style="display:inline-block;width: 80%" th:value="${status == 0 ? account.getAccountname() :''}">
                    <button class="btn btn-primary" type="submit">查询</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-3" style="width: 15%">
            <div class="card">
              <div class="card-header bg-primary">
                <h4>用户名id</h4>
                <ul class="card-actions">
                  <li>
                    <button type="button"><i class="mdi mdi-more"></i></button>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                  <p th:text="${status == 0 ? account.getUID() :'查一下看看'}"></p>
              </div>
            </div>
          </div>
          <!-- .col-sm-6 -->
          <div class="col-sm-6 col-lg-3" style="width: 15%">
            <div class="card">
              <div class="card-header bg-success">
                <h4>qq</h4>
                <ul class="card-actions">
                  <li>
                    <button type="button"><i class="mdi mdi-more"></i></button>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <p th:text="${status == 0 ? account.getQq() :'查一下看看'}"></p>
              </div>
            </div>
          </div>
          <!-- .col-sm-6 -->
          <div class="col-sm-6 col-lg-3" style="width: 15%" >
            <div class="card">
              <div class="card-header bg-info">
                <h4>D点余额</h4>
                <ul class="card-actions">
                  <li>
                      <a>
                      <button type="button" class="btn btn-dark btn-w-md" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="width: 100%">充值</button>
                      </a>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="exampleModalLabel" style="color: #1c1e2f">充值D点</h4>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label" style="color: darkslateblue">充值账号：</label>
                                  <input type="text" class="form-control" id="recipient-name2" value="${account.getAccountname()}">
                                </div>
                                <div class="form-group">
                                  <label for="message-text" class="control-label" style="color: #da4453">充值数量：</label>
                                  <textarea class="form-control" id="message-text2"></textarea>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                              <button type="button" class="btn btn-primary" id="ddbutton">充值</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <p th:text="${status == 0 ? account.getCera_point() :'查一下看看'}"></p>
              </div>
            </div>
          </div>
          <!-- .col-sm-6 -->
          <div class="col-sm-6 col-lg-3" style="width: 15%" >
            <div class="card">
              <div class="card-header bg-warning">
                <h4>D币余额</h4>
                <ul class="card-actions">
                  <li>
                      <a>
                        <button type="button" class="btn btn-dark btn-w-md" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo" style="width: 100%">充值</button>
                      </a>
                      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="exampleModalLabel2" style="color: #1c1e2f">充值D币</h4>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label" style="color: darkslateblue">充值账号：</label>
                                  <input type="text" class="form-control" id="recipient-name" value="${account.getAccountname()}">
                                </div>
                                <div class="form-group">
                                  <label for="message-text" class="control-label" style="color: #da4453">充值数量：</label>
                                  <textarea class="form-control" id="message-text"></textarea>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                              <a href="/account/db?uid=1&cera=123">
                              <button type="button" class="btn btn-primary">充值</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <p th:text="${status == 0 ? account.getCera() :'查一下看看'}"></p>
              </div>
            </div>
          </div>
          <!-- .col-sm-6 -->
        </div>

        <div class="row">
          
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4>账号角色信息</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th style="width: 10%">角色id</th>
                        <th style="width: 15%">角色名</th>
                        <th style="width: 10%">职业</th>
                        <th>等级(70满级)</th>
                        <th>角色创建时间</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="role:${roles}">
                        <td th:text="${role.getCharac_no()}"></td>
                        <td th:text="${role.getCharac_name()}"></td>
                        <td><span class="label label-purple" th:text="${role.getGameCareer()}"></span></td>
                        <td>
                          <div class="progress progress-striped progress-lg progress-bar-striped active">
                            <div class="progress-bar progress-bar-yellow" style="width: 100%" th:text="${role.lev}"></div>
                          </div>
                        </td>
                        <td th:text="${role.getCreate_time()}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>

<!--图表插件-->
</body>
</html>