<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/head}"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">

        <!--左侧导航-->
        <div th:replace="~{common/aside::aside}"></div>
        <!--End 左侧导航-->

        <!--头部信息aside-->
        <div th:replace="~{common/aside::header}"></div>
        <!--End 头部信息aside-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="row" style="margin: 20px">
                <!--角色列表遍历-->
                <div class="row" style="float: left">
                    <div class="col-lg-12">
                        <button id="allroles" class="btn btn-danger" type="button" style="margin-top: auto"
                                onclick="getroles(this)">加载全服
                        </button>
                        <button id="onlineroles" class="btn btn-brown" type="button" style="margin-top: auto"
                                onclick="getroles(this)">加载在线
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div class="card" style="width: 60%;float: left">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 10%">所属账号</th>
                                            <th style="width: 10%">角色id</th>
                                            <th style="width: 10%">角色名</th>
                                            <th style="width: 15%">职业</th>
                                            <th style="width: 10%">等级</th>
                                            <th style="width: 20%">上次登录</th>
                                            <th style="width: 20%">登录IP</th>
                                            <th style="width: 5%">选择</th>
                                        </tr>
                                        </thead>
                                        <tbody class="rolestr" id="rolestr">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="cardEmail" style="width: 40%;float: left">
                            <div class="card-header">
                                <h4>邮件管理 先选中角色再发哦</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group m-b-10">
                                    <div style="float: left;width: 60%" class="input-group m-b-10">
                                        <span class="input-group-addon" id="sizing-addon2">发送物品代码</span>
                                        <input id="item_id" type="text" class="form-control" placeholder="物品id"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <div style="float: left;width: 40%">
                                        <span style="float: left;width: 30%" class="input-group-addon"
                                              id="sizing-addon6">金币</span>
                                        <input style="float: left;width: 70%" id="gold" type="text" class="form-control"
                                               placeholder="gold"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                </div>
                                <div class="input-group m-b-10">
                                    <div style="float: left;width: 40%">
                                        <span class="input-group-addon" id="sizing-addon3">数量</span>
                                        <input id="add_info" type="text" class="form-control" placeholder="物品数量"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <div style="float: left;width: 30%">
                                        <span class="input-group-addon" id="sizing-addon4">强化</span>
                                        <input id="upgrade" type="text" class="form-control" placeholder="强化"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                    <div style="float: left;width: 30%">
                                        <span class="input-group-addon" id="sizing-addon5">锻造</span>
                                        <input id="seperate_upgrade" type="text" class="form-control" placeholder="锻造"
                                               aria-describedby="sizing-addon2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="width: 20%;float: left;padding-top:20px;"><label class="lyear-checkbox">
                                        <input type="checkbox" id="seal_flag">
                                        <span>封装</span>
                                    </label>
                                        <div style="padding-top: 50%">
                                        <button class="btn btn-label btn-primary" onclick="addemail()"><label><i
                                                class="mdi mdi-checkbox-marked-circle-outline"></i></label> 发送邮件
                                        </button>
                                        </div>
                                    </div>

                                    <div class="col-xs-12" style="width: 30%;float: left">
                                        <label class="col-xs-12" for="example-select">添加红字</label>
                                        <select class="form-control" id="example-select" name="example-select"
                                                size="5">
                                            <option th:value=0 th:text=不要红字 th:selected=0></option>
                                            <option th:value=3 th:text=力量></option>
                                            <option th:value=4 th:text=智力></option>
                                            <option th:value=1 th:text=体力></option>
                                            <option th:value=2 th:text=精神></option>
                                        </select>
                                    </div>
                                    <div style="width: 30%;float: left">
                                        <label class="col-xs-12" for="example-select">红字附加</label>
                                        <input class="form-control" type="text" id="example-text-input-info"
                                               name="example-text-input-info" placeholder="红字附加值">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script src="/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/js/lightyear.js"></script>
<script type="text/javascript">
    function roleRefresh(element) {
        var selectedroleno = element.parentNode.parentNode.children[0].innerText;
        var selectedrolename = element.parentNode.parentNode.children[1].innerText;
        var selectedrole = document.getElementById('selectedrole');
        // 装载局部刷新返回的页面
        selectedrole.innerText = '选中角色:' + selectedrolename;
    }

    // onclick触发js
    function getroles(element) {
        let url = "/roles/";
        if (element.id === "allroles") {
            url = url + "all";
        } else
            url = url + "online";
        lightyear.loading('show');
        $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            success: function (result) {
                if (result != null) {
                    $("#rolestr").empty(); //清空
                    let item = "";
                    for (let i = 0; i < result.length; i++) {
                        item +=
                            "<tr class='trpa'><td>" + result[i].accountname + "</td>" +
                            "<td>" + result[i].charac_no + "</td>" +
                            "<td>" + result[i].charac_name + "</td>" +
                            "<td>" + result[i].gameCareer + "</td>" +
                            "<td>" + result[i].lev + "</td>" +
                            "<td>" + result[i].last_login_date + "</td>" +
                            "<td>" + result[i].login_ip + "</td>" +
                            "<td class='patd'><button type='button' class='btn btn-default' onClick='roleRefresh(this)'>" + '选中' + "</button></td>";
                    }
                    lightyear.loading('hide');
                    $("#rolestr").append(item);   // 显示到里面
                } else {
                    setTimeout(function () {
                        lightyear.loading('hide');
                        lightyear.notify('好像加载不出来~', 'danger');
                    }, 1e3)
                }
            },
            error: function (data) {
                setTimeout(function () {
                    lightyear.loading('hide');
                    lightyear.notify('服务器错误请重试~', 'danger');
                }, 1e3)
            },
        });
    };

    // onclick触发js
    function addemail() {
        let url = "/roles/";
        if (element.id === "allroles") {
            url = url + "all";
        } else
            url = url + "online";
        lightyear.loading('show');
        $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            success: function (result) {
                if (result != null) {
                    $("#rolestr").empty(); //清空
                    let item = "";
                    for (let i = 0; i < result.length; i++) {
                        item +=
                            "<tr class='trpa'><td>" + result[i].accountname + "</td>" +
                            "<td>" + result[i].charac_no + "</td>" +
                            "<td>" + result[i].charac_name + "</td>" +
                            "<td>" + result[i].gameCareer + "</td>" +
                            "<td>" + result[i].lev + "</td>" +
                            "<td>" + result[i].last_login_date + "</td>" +
                            "<td>" + result[i].login_ip + "</td>" +
                            "<td class='patd'><button type='button' class='btn btn-default' onClick='roleRefresh(this)'>" + '选中' + "</button></td>";
                    }
                    lightyear.loading('hide');
                    $("#rolestr").append(item);   // 显示到里面
                } else {
                    setTimeout(function () {
                        lightyear.loading('hide');
                        lightyear.notify('好像加载不出来~', 'danger');
                    }, 1e3)
                }
            },
            error: function (data) {
                setTimeout(function () {
                    lightyear.loading('hide');
                    lightyear.notify('服务器错误请重试~', 'danger');
                }, 1e3)
            },
        });
    };
</script>
<!--图表插件-->
</body>
</html>