<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.ddfgm.mapper.AccountMapper">
    <!--根据用户名查user账号密码-->
    <select id="getUserByName" resultType="com.dd.ddfgm.entity.User">
        SELECT * FROM d_taiwan.accounts WHERE accountname = #{accountname}
    </select>

    <!--查询所有账户的数量-->
    <select id="getAccountNum" resultType="java.lang.Integer">
        SELECT COUNT(UID) FROM d_taiwan.accounts
    </select>

    <!--查询指定账户的信息包括D点D币-->
    <select id="getAccountInfo" resultType="com.dd.ddfgm.entity.Account">
        select a.UID, a.accountname, a.qq, c.cera, b.cera_point from d_taiwan.accounts as a
        inner join taiwan_billing.cash_cera as c on a.UID = c.account
        inner join taiwan_billing.cash_cera_point as b on a.UID = b.account
        <where>
            <if test="accountname!=null and accountname!=''">
                and a.accountname = #{accountname}
            </if>
        </where>
    </select>

    <!--查询所有在线账户-->
    <select id="getLoginAccounts" resultType="com.dd.ddfgm.entity.OnlineAccount">
 SELECT
    a.m_id,
    date_format(
    a.last_login_date,
    '%Y-%c-%d %H:%i:%s'
    ) AS last_login_date,
    a.login_ip,
    a.m_channel_no,
    b.accountname,
    c.charac_no,
    d.job,
    d.lev,
    d.grow_type,
    CONVERT (
        unhex(
            hex(
    CONVERT (`charac_name` USING latin1)
    )
    ) USING utf8
    ) AS charac_name
FROM
    taiwan_login.login_account_3 AS a
INNER JOIN d_taiwan.accounts AS b ON a.m_id = b.uid
INNER JOIN taiwan_game_event.event_1306_account_reward AS c ON a.m_id = c.m_id
INNER JOIN taiwan_cain.charac_info AS d ON c.charac_no = d.charac_no
WHERE
    a.login_status = 1
    </select>

    <select id="getAllAccounts" resultType="com.dd.ddfgm.entity.OnlineAccount">
         SELECT
    a.m_id,
    date_format(
    a.last_login_date,
    '%Y-%c-%d %H:%i:%s'
    ) AS last_login_date,
    a.login_ip,
    a.m_channel_no,
    b.accountname,
    d.charac_no,
    d.job,
    d.lev,
    d.grow_type,
    CONVERT (
        unhex(
            hex(
    CONVERT (`charac_name` USING latin1)
    )
    ) USING utf8
    ) AS charac_name
FROM
    taiwan_login.login_account_3 AS a
INNER JOIN d_taiwan.accounts AS b ON a.m_id = b.uid
INNER JOIN taiwan_cain.charac_info AS d ON a.m_id = d.m_id
    </select>

    <!--充值D币-->
    <update id="rechargeDB" parameterType="java.lang.Integer">
        update taiwan_billing.cash_cera set cera=#{cera} where account = #{uid}
    </update>

    <!--充值D点-->
    <update id="rechargeDD" parameterType="java.lang.Integer">
        update taiwan_billing.cash_cera_point set cera_point=#{cera_point} where account = #{uid}
    </update>
</mapper>