<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.ddfgm.mapper.RoleMapper">
    <!--查询单个角色信息-->
    <select id="getRole" resultType="com.dd.ddfgm.entity.Role" parameterType="java.lang.String">
        select m_id,charac_no,job,grow_type,lev,convert(unhex(hex(convert(`charac_name` using latin1))) using utf8) as charac_name, date_format(create_time,'%Y-%c-%d %H:%i:%s') AS create_time from taiwan_cain.charac_info
        <where>
            <if test="charac_name!=null and charac_name!=''">
                charac_name = #{charac_name}
            </if>
        </where>
    </select>

    <!--查询指定账户的所有角色信息-->
    <select id="getRoles" resultType="com.dd.ddfgm.entity.Role" parameterType="java.lang.Integer">
        select m_id,charac_no,job,grow_type,lev, convert(unhex(hex(convert(`charac_name` using latin1))) using utf8) as charac_name, date_format(create_time,'%Y-%c-%d %H:%i:%s') AS create_time from taiwan_cain.charac_info
        <where>
            <if test="uid!=null and uid!=''">
                and m_id = #{uid}
            </if>
        </where>
    </select>

    <!--向角色发送邮件-->
    <insert id="addEmail" parameterType="com.dd.ddfgm.entity.EmailPojo">
        insert into taiwan_cain_2nd.postal
        (occ_time,send_charac_name,receive_charac_no,amplify_option,amplify_value,seperate_upgrade,seal_flag,item_id,add_info,upgrade,gold,letter_id)
        values (#{occ_time},'GM',#{receive_charac_no},#{hongzi},'0',#{duanzao},#{fengzhuang},#{daima},#{shuliang},#{qianghua},#{jinbi},#{letter_id})
    </insert>
    <select id="getNextMailId" resultType="java.lang.Integer">
        SELECT MAX(letter_id)+1 FROM taiwan_cain_2nd.postal
    </select>
</mapper>