<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.ddfgm.mapper.RoleMapper">
    <!--查询单个角色信息-->
    <select id="getRole" resultType="com.dd.ddfgm.entity.Role" parameterType="java.lang.String">
        select m_id,charac_no,job,grow_type,lev,convert(unhex(hex(convert(`charac_name` using latin1))) using utf8) as charac_name, date_format(create_time,'%Y-%c-%d %H:%i:%s') AS create_time from taiwan_cain.charac_info
        <where>
            <if test="charac_name!=null and charac_name!=''">
                charac_name = #{charac_name}
            </if>
        </where>
    </select>

    <!--查询指定账户的所有角色信息-->
    <select id="getRoles" resultType="com.dd.ddfgm.entity.Role" parameterType="java.lang.Integer">
        select m_id,charac_no,job,grow_type,lev, convert(unhex(hex(convert(`charac_name` using latin1))) using utf8) as charac_name, date_format(create_time,'%Y-%c-%d %H:%i:%s') AS create_time from taiwan_cain.charac_info
        <where>
            <if test="uid!=null and uid!=''">
                and m_id = #{uid}
            </if>
        </where>
    </select>

    <!--查询指定账户的所有角色的pk场信息-->
    <select id="getRolesPk" resultType="com.dd.ddfgm.miaoshaproject.controller.viewobject.RolePkVO" parameterType="java.lang.Integer">
        select a.m_id,a.charac_no,b.win,b.lose,b.pvp_count, convert(unhex(hex(convert(`charac_name` using latin1))) using utf8) as charac_name, b.play_count from taiwan_cain.charac_info as a
        left join taiwan_cain.pvp_result as b on a.charac_no = b.charac_no
        <where>
            <if test="uid!=null and uid!=''">
                and a.m_id = #{uid}
            </if>
            <if test="charac_no!=null and charac_no!=''">
                and a.charac_no = #{charac_no}
            </if>
        </where>
    </select>

    <update id="setPkWin" parameterType="java.lang.Integer">
        update taiwan_cain.pvp_result
        <set>
            <if test="win != null">
                win = #{win,jdbcType=INTEGER},
            </if>
            <if test="pvp_count != null">
                pvp_count = #{pvp_count,jdbcType=INTEGER},
            </if>
            <if test="play_count != null">
                play_count = #{play_count,jdbcType=INTEGER},
            </if>
        </set>
        where charac_no = #{charac_no,jdbcType=INTEGER}
    </update>
    <!--向角色发送邮件-->
    <insert id="addEmail" parameterType="com.dd.ddfgm.entity.EmailPojo" useGeneratedKeys="true" keyColumn="postal_id" keyProperty="postal_id">
        insert into taiwan_cain_2nd.postal
        (occ_time,send_charac_name,receive_charac_no,amplify_option,amplify_value,seperate_upgrade,seal_flag,item_id,add_info,upgrade,gold,letter_id)
        values (#{occ_time},'GM',#{receive_charac_no},#{amplify_option},#{amplify_value},#{seperate_upgrade},#{seal_flag},#{item_id},#{add_info},#{upgrade},#{gold},#{letter_id})
    </insert>
    <select id="getNextMailId" resultType="java.lang.Integer">
        SELECT MAX(letter_id)+1 FROM taiwan_cain_2nd.postal
    </select>

    <select id="getRankList" resultType="com.dd.ddfgm.entity.RankDTO">
        SELECT * from taiwan_siroco.zhanli order by ZLZ desc limit 50
    </select>
</mapper>